body {
    margin: 0;
}
#banner1{
    display: block;
    background-color:rgb(30, 173, 90) ;
    height: 50px;
    width: 100%;
}
#banner2{
    display: block;
    background-color: rgb(30, 173, 90);
    height: 50px;
    width: 100%;
}